.App {
  text-align: center;
}

.App-header {
  background-color: white;
  /* min-height: 70px; */
  padding: 20px;
  color: 071108;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.back-button {
  position: fixed;
  bottom: 0;
}